@tailwind base;
@tailwind components;
@tailwind utilities;
    .input-cnt {
      display: flex;
      width: 40%;
    }
    .input-cnt > i {
      min-width: 20px;
      padding: 10px;
      text-align: center;
      background: lightgrey;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .input-cnt > input {
      outline: none;
      border: none;
      border: 1px solid lightgrey;
      border-top-right-radius: 20px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 0px;
      width: 50%;
      transition: width .5s;
    }
    .input-cnt:hover > input {
      border: 2px solid hsl(239, 94%, 40%);
      width: 60%;
    }
    .input-cnt:hover > i {
      background: hsl(239, 94%, 40%);
      color: white;
    }
    .swiper {
      width: 200px;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
